.heroC {
  height: 500px;
  background-size: cover;  
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.carousel-img {
  height: 50px;
  width: 600px;
  position: relative;
  margin-top: 50px;
  margin-left: 400px;  
  vertical-align: middle;
  padding-top:80px ;
  padding-bottom: 80px;
}


.carousel-card {
  height: 300px !important;
  width: 1310px !important; 
  position: relative;
  margin-top: 10px; 
  vertical-align: middle;
  margin-left: -270px !important; 
  
 }
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  justify-content: center;
  padding-left: 0;
  margin-right: 20%;
  margin-left: -1%;
  list-style: none;  
}



.carousel-left-indicator {
  margin-left: -150px; 
  color: black;
  font-size: 24px;  
}

.carousel-right-indicator { 
  margin-right: -150px;
  color: black;
  font-size: 24px;  
}
/* 
.heroC::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.heroC * {
  position: relative;
  z-index: 2;
} */

.heroC h1, .heroC h2 {
  color: rgb(129, 27, 27);
}

.heroC h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
